.banner {
	background-image: url(../../images/lights.jpg);
	padding: 320px 0px;
	background-position: top center;
	background-repeat: no-repeat ;
	background-size: contain;
	color: indianred;
}

